<section>
    <div class="main">
        <div class="container">
            <div class="row">
                {{#each results}}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.destributed}}</p>
                        <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                        <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>