<section>
    <div class="main">
        <div class="container">
            <h2>SẢN PHẨM NỔI BẬT</h2>
            <div class="row">
                {{#each results}}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.destributed}}</p>
                        <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                        <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="bg">
            <img src="https://fptshop.com.vn/Uploads/Originals/2023/11/22/638362929279006187_game-naruto_.jpg">
        </div>
    </div>
</section>

<section>
    <div class="main2">
        <div class="container">
            <h2 class="fw-bold mt-4">Đồ chơi xe</h2>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        {{#each results}}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.destributed}}</p>
                                <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                                <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="row">
                        {{#each results}}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.destributed}}</p>
                                <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                                <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="col-sm-4">
                    <img id="click-here"
                        src="https://fptshop.com.vn/Uploads/Originals/2023/11/22/638362929279006187_game-naruto_.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="main3">
        <div class="container">
            <h2 class="fw-bold mt-4">Chăm sóc xe</h2>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        {{#each results}}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.destributed}}</p>
                                <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                                <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="row">
                        {{#each results}}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.destributed}}</p>
                                <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                                <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="col-sm-4">
                    <img id="click-here"
                        src="https://fptshop.com.vn/Uploads/Originals/2023/11/22/638362929279006187_game-naruto_.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
        <img src="https://fptshop.com.vn/Uploads/Originals/2023/11/22/638362929279006187_game-naruto_.jpg">
    </div>
</section>

<section>
    <div class="main3">
        <div class="container">
            <h2 class="fw-bold mt-3">Ảnh xe đẹp tại Thanh Hậu
                <span id="logo">Motocare</span>
            </h2>
            <hr>
            <div class="row">
                {{#each results}}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.destributed}}</p>
                        <h5 class="card-title fw-bold">{{this.price}} VND</h5>
                        <a href="purchase/{{ this._id }}" class="btn btn-primary">Mua</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>